
*.aux
*.out
*.lot
*.log
*.lof
main.lot
main.lof
Chapters/Chapter6.aux
Chapters/Chapter1.aux
Appendices/AppendixA.aux
main.toc
main.synctex.gz
main.pdf
main.out
main.lot
main.log
main.lof
main.fls
main.fdb_latexmk
main.blg
main.aux
main.toc
main.synctex.gz
main.pdf
main.out
main.lot
main.log
main.lof
main.aux
main.aux
main.lof
main.log
main.pdf
main.synctex.gz
main.lot
main.toc
*.bbl
*.aux
Appendices/.DS_Store
main.toc
